canvas{
   
    margin-top: 50px;
   border-radius:20px;
    
    box-shadow:10px 10px 10px grey;
}

.link{
    float:right;
    color:red;
    font-size: 20px;
}

#tv_status{
    margin-top: 5px ;
}

#tv_msg{
    margin-top:5px;
}